# OS
.DS_Store
Thumbs.db

# Editors/IDE
.idea/
*.iml
.vscode/

# Python/Node generic
__pycache__/
node_modules/

# Gradle/Android
.gradle/
local.properties
/.cxx/
/externalNativeBuild/
/build/
**/build/
captures/
*.keystore
*.jks
*.ap_
*.aab
*.apk

# Logs
*.log

# Misc
*.swp
*.swo
*.tmp
*.bak
